body{
    padding: 0;
    margin: 0;
    background: #707070;
    height: 100vh;
}
header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
    padding: 0.5em;
    background-color: #373737;
    margin-bottom: 3em;
}
#logo img{
    /* height: 100%; */
    height: 7.5vh;
    border: 1px solid black;
    border-radius: 50%;
}

#principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.group_learn {
    display: flex;
    margin-bottom: 2em;
    width: 100%;
    justify-content: space-evenly;
}
.lang_learn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #1c2a84; */
    background: linear-gradient(-45deg, #1a1a1a, #5c5c5c);
    border-radius: 5px;
    padding-inline: 5em;
    padding-block: 2em;
    text-decoration: none;
    color: white;
    width: 5em;
    height: 5em;
}
.lang_learn:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    background-color: #1f2e91;
    /* box-shadow: 3px 6px #888888; */
    box-shadow: 3px 3px 3px 3px #888888;
    background: linear-gradient(-45deg, #1a1a1a, #6c6b6b);
    /* border: 2px solid white; */
}

